name: Renovate
on:
    workflow_dispatch:
env:
    # renovate: datasource=docker depName=ghcr.io/renovatebot/renovate
    RENOVATE_VERSION: '43.15.1'
jobs:
    renovate:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
            issues: write
        steps:
            - uses: actions/checkout@v6
              with:
                token: ${{ secrets.RENOVATE_TOKEN }}
            - name: Run Renovate
              uses: renovatebot/github-action@v46.1.0
              env:
                LOG_LEVEL: debug
                RENOVATE_REPOSITORIES: ${{ github.repository }}
                RENOVATE_BASE_BRANCH: ${{ github.ref_name }}
                RENOVATE_ONBOARDING: "false"
                RENOVATE_TOKEN: ${{ secrets.RENOVATE_TOKEN }}
                RENOVATE_ALLOWED_COMMANDS: .*
                RENOVATE_CONFIG_VALIDATION_ERROR: true
              with:
                renovate-version: ${{ env.RENOVATE_VERSION }}
                docker-cmd-file: .github/renovate_entrypoint.sh
